# General
node_modules/
.idea/
.vscode/
.DS_Store
*.pem
*.local

# Expo
.expo/
dist/
web-build/

# Native
android/
ios/
.cxx/

# Valid Typescript/Expo
expo-env.d.ts

# NPM/Yarn/PNPM
npm-debug.log
yarn-error.log
pnpm-debug.log